In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\sergi\\Proyectos\\Proyecto_Final\\data\\processed\\vehicles_clean_fact.csv", quotechar='"')

In [2]:
df = df.drop(columns = ['lat', 'long'])
df

,price,year,manufacturer,model,fuel,odometer,transmission,drive,size,type,state
0,22590,2010.0,0,0,0,71229.0,0,0,0,0,0
1,30990,2017.0,1,1,0,41124.0,0,0,0,0,0
2,15000,2013.0,2,2,0,128000.0,1,1,0,1,0
3,35000,2019.0,1,3,0,43000.0,1,0,1,1,0
4,29990,2016.0,0,4,0,17302.0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
283121,29590,2016.0,1,149,0,53475.0,1,0,0,4,50
283122,0,2010.0,1,144,0,155000.0,1,0,1,11,50
283123,32590,2020.0,11,418,0,19059.0,0,1,2,6,50
283124,33590,2018.0,18,1474,0,30814.0,1,1,1,6,50
283125,23590,2019.0,4,563,0,32226.0,0,2,0,6,50

In [3]:
# normalizar datos

from sklearn.preprocessing import MinMaxScaler

num_variables = ['price','year','manufacturer','model','fuel','odometer','transmission','drive','size','type','state']

scaler = MinMaxScaler()
variables_escaladas = scaler.fit_transform(df[num_variables])
df_escalado = pd.DataFrame(variables_escaladas, index=df.index,columns=num_variables)

df_escalado

,price,year,manufacturer,model,fuel,odometer,transmission,drive,size,type,state
0,0.434423,0.52,0.000000,0.000000,0.0,0.284916,0.0,0.0,0.000000,0.000000,0.0
1,0.595962,0.80,0.025641,0.000119,0.0,0.164496,0.0,0.0,0.000000,0.000000,0.0
2,0.288462,0.64,0.051282,0.000238,0.0,0.512000,0.5,0.5,0.000000,0.083333,0.0
3,0.673077,0.88,0.025641,0.000358,0.0,0.172000,0.5,0.0,0.333333,0.083333,0.0
4,0.576731,0.76,0.000000,0.000477,0.0,0.069208,0.0,0.0,0.333333,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
283121,0.569038,0.76,0.025641,0.017766,0.0,0.213900,0.5,0.0,0.000000,0.333333,1.0
283122,0.000000,0.52,0.025641,0.017169,0.0,0.620000,0.5,0.0,0.333333,0.916667,1.0
283123,0.626731,0.92,0.282051,0.049839,0.0,0.076236,0.0,0.5,0.666667,0.500000,1.0
283124,0.645962,0.84,0.461538,0.175748,0.0,0.123256,0.5,0.5,0.333333,0.500000,1.0
283125,0.453654,0.88,0.102564,0.067128,0.0,0.128904,0.0,1.0,0.000000,0.500000,1.0

In [4]:
from sklearn.model_selection import train_test_split

X = df_escalado.drop(['price'], axis=1)  
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Lasso, SGDRegressor, Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Lista de modelos de regresiÃ³n
regression_models = [
    GradientBoostingRegressor(),
    DecisionTreeRegressor(),
    RandomForestRegressor(),
    KNeighborsRegressor(),
    Lasso(max_iter=10000),
    SGDRegressor(max_iter=10000),
    Ridge()
]

# Entrenar y evaluar los modelos de regresiÃ³n
print("Modelos de RegresiÃ³n:")
for model in regression_models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{type(model).__name__} R2 Score: {r2:.2f}")

Modelos de RegresiÃ³n:
GradientBoostingRegressor R2 Score: 0.52
DecisionTreeRegressor R2 Score: 0.60
RandomForestRegressor R2 Score: 0.78
KNeighborsRegressor R2 Score: 0.63
Lasso R2 Score: 0.40
SGDRegressor R2 Score: 0.40
Ridge R2 Score: 0.40